
<%- include ('partials/header'); %>
<header class="jumbotron jumbotron-fluid">
<h1>
	landing page!!
</h1>
</header>
<p>
	welcome to yelp camp
</p>
<a href ="/campgrounds"> view all campgrounds</a>


<%- include ('partials/footer'); %>