
<%- include ('partials/header'); %>

<body id="special">
	

	
	
   <div id="landingalign">
	
	<h1>
		welcome to yelp camp
	   </h1>
	</div>
	<div id="link1">
		
<a href ="/campgrounds" class="btn btn-primary btn-lg active" role="button" > view all campgrounds</a>
	</div>
</body>
<%- include ('partials/footer'); %>